.rating {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    align-items: center;
    font-weight: 400;
    cursor: default;

    &__buttons {
        margin-left: 4px;
    }

    &__button {
        display: block;
        width: 18px;
        height: 18px;
        border: 0;
        opacity: .5;
        vertical-align: middle;
        transition: opacity .2s;
        cursor: pointer;
        background-color: transparent;
        background-position: 50% 50%;
        background-size: 13px auto;
        background-repeat: no-repeat;

        &:focus {
            outline: none;
        }

        & + & {
            margin-top: 5px;
        }

        &:hover {
            background-color: rgba(212, 226, 234, 0.67);
            opacity: 1;
        }

        &--up {
            background-image: url("./icons/plus.svg");
        }

        &--down {
            background-image: url("./icons/minus.svg");
        }
    }
}
